<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js.js"></script>
    <link rel="stylesheet" href="/css.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Hader">Femely Finance: Ira
            <div> <a href="/">
                    <p style="color: aqua; text-decoration: none;">Back</p>
                </a></div>
        </div>
    </header>
    <div class="mainGrid">
        <form class="grid_row" method="post" action="/send_i">
            <div class="block">                   
                <img src="img/food.jpg" alt="" class="img-block" >
                <div class="block-text">
                    
                    <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="eda" value="" placeholder="Сума" size="10">
                    <input type="submit" value="Внести">
                    <input type="text" class="enter_text" name="suma_eda" placeholder="Коментар">
                      <p class="summa" id="eat_summ" value="asd"> <%= suma %> грн</p>
                </div>
            </div>
            <div class="block">
                <img src="img/car.jpg" alt="" class="img-block" >
                <div class="block-text">
                    <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="car" value="" placeholder="Сума" size="10">
                    <input type="submit" value="Внести">
                    <input type="text" class="enter_text" name="suma_car" placeholder="Коментар">
                      <p class="summa" id="eat_summ" value="asd"> <%= car %> грн</p>
                </div>
            </div>
            <div class="block">
                <img src="img/home.jpg" alt="" class="img-block" >
                <div class="block-text">
                    <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="home" value="" placeholder="Сума" size="10">
                    <input type="submit" value="Внести">
                    <input type="text" class="enter_text" name="suma_home" placeholder="Коментар">
                      <p class="summa" id="eat_summ" value="asd"> <%= home %> грн</p>
                </div>
            </div>


        <div class="block">
            <img src="img/funny.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="funy" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_funy" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= funy %> грн</p>
            </div>
        </div>
        <div class="block">
            <img src="img/cat.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="cat" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_cat" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= cat %> грн</p>
            </div>
        </div>
        <div class="block">
            <img src="img/medecise.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="medecine" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_medecine" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= medecine %> грн</p>
            </div>
        </div>
        <div class="block">
            <img src="img/else.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="other" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_other" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= other %> грн</p>
            </div>
        </div>
        <div class="block">
            <img src="img/unheatly.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="unheatly" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_unheatly" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= unheatly %> грн</p>
            </div>
        </div>
        <div class="block">
            <img src="img/travel.jpg" alt="" class="img-block" >
            <div class="block-text">
                <input type="text" onkeyup="this.value = this.value.replace (/\D/, '')" id="summa" name="travel" value="" placeholder="Сума" size="10">
                <input type="submit" value="Внести">
                <input type="text" class="enter_text" name="suma_travel" placeholder="Коментар">
                  <p class="summa" id="eat_summ" value="asd"> <%= travel %> грн</p>
            </div>
        </div>
        </form>
    </div>
</body>

</html>